{% extends "main/base.html" %}
{% block content %}
    <div class="projects-main-box">
        <div class="projects-top-row">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-create' user %}">Create new</a>
            <h3>Projects</h3>
            <div class="streak-box">
                <h3>{{ user.profile.streak }}</h3>
            </div>
        </div>
        
        {% for project in user.project_set.all %}
            <div class="project-box">
                <h4>{{ project.name }}</h4>
                <div class="btn-container">
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' project.user project.id %}">Delete</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-edit' project.user project.id %}">Edit</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-detail' project.user project.id %}">Write</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}