{% extends "main/landing_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script>
    function Hide() {
        if(document.getElementById('id_progressTracker').options[document.getElementById('id_progressTracker').selectedIndex].value == "Automatic") {
             document.getElementById('div_id_goalProgress').style.display = 'none';
        }
        else {
             document.getElementById('div_id_goalProgress').style.display = '';
        }
    };  </script>
<script type="text/javascript"> window.addEventListener("load", Hide);</script> <script type="text/javascript"> var el = document.getElementById("div_id_progressTracker"); el.addEventListener("click", Hide);</script>
    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">

                        <strong>{{ field.name }}: {{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-box">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Project</legend>
                <p> {{ goalProgress }} Times Completed </p>
                <div class="col-sm-12">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Confirm</button>
            </div>
        </form>
    </div>
{% endblock content %}