{% extends "main/base.html" %}
{% block content %}
<div class="projects-main-box">
  <div class="projects-top-row">
    <a class="mr-2" href="{% url 'profile' object.user %}">{{ object.user }}</a>
    <h3>{{ object.name }}</h3>
    <div class="streak-box">
      <h3>0</h3>
    </div>
  </div>

  <div class="writing-box">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="writingEnv" id="writingEnv" style="height: 100vh" >{{ project.fileContentsBefore}}</textarea>
        <div class="form-group">
            <button class="btn btn-outline-info" type="Submitbtn" >Submit Changes</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}